.product {
    border: 2px solid gray;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
button{
    background-color: brown;
    padding: 10px;
    border-radius: 8px;
    color: white;
    border-color: black;
}